@inject ThemeService Themes
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.css" rel="stylesheet" asp-append-version="true" />

    @DxResourceManager.RegisterScripts()
    <link href="css/site.css" rel="stylesheet" />
    <link href="switcher-resources/css/theme-switcher.css" rel="stylesheet" />
    <link href="switcher-resources/css/themes.css" rel="stylesheet" />
    <link href="switcher.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>
    <div id="switcher-container" data-permanent></div>
    <Routes></Routes>   
    <script src="_framework/blazor.web.js"></script>
</body>

</html>