@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page">
    
    <DxGridLayout CssClass="page-layout">
        <Rows>
            <DxGridLayoutRow Areas="sidebar header" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="sidebar content"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="auto" />
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="sidebar" CssClass="layout-sidebar">
                <Template>
                    <NavMenu />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="content" CssClass="content px-4">
                <Template>
                    @if(!string.IsNullOrEmpty(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))) {
                        <div class="py-4">
                            <NavLink href="/" class="button-link">
                                <DxButton RenderStyle="@ButtonRenderStyle.Dark" Text="Back to Home" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="back-button" IconCssClass="icon-back"></DxButton>
                            </NavLink>
                        </div>
                    }
                    <ThemeSwitcher />
                    @Body
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
}
