@inherits LayoutComponentBase

<HeadContent>
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
    <link href="@_activeTheme.StylesheetLinkUrl" rel="stylesheet" />
    @{if (_activeTheme.StylesheetLinkUrl.Contains("slate"))
        {
        <style>
            .dxbs-gridview {
                --selection-bg: rgba(255, 255, 255, 0.075) !important;
            }
        </style>
        }
    }
</HeadContent>
 <div class="main">
    <ThemeSwitcherToggleButton @bind-Active=@_themeSwitcherShown />
    <div id="settingsbar" class="@(_themeSwitcherShown ? "" : "hidden-settings-bar")">
        <ThemeSwitcherSideView @bind-ActiveTheme="@_activeTheme" @bind-Visible="@_themeSwitcherShown" />
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    bool _themeSwitcherShown = false;
    ThemeItem _activeTheme = ThemeItem.Default;
}