@page "/counter"
@rendermode InteractiveServer
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="counter-block">
    <div class="counter-content">
        <div class="counter-count">
            @currentCount
        </div>
        <div class="counter-text">
            current count
        </div>
        <div class="counter-block-back"></div>
    </div>
    <DxButton Click="IncrementCount">Click me</DxButton>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}