.welcome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::deep .welcome-gridlayout {
    margin: auto;
    width: auto;
    height: auto;
}

::deep .welcome-gridlayout .dxbl-gridlayout-root {
    align-content: center;
    justify-content: center;
}

::deep .welcome-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.welcome-title .welcome-title-header {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
}

.welcome-title .welcome-title-content {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

::deep .welcome-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

::deep .welcome-card {
    width: 26.25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    border-radius: 1rem;
    color: var(--bs-link-color-rgb);
    gap: 1.5rem;
    text-decoration: none;
    position: relative;
}

    ::deep .welcome-card:hover {
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    }

    ::deep .welcome-card .welcome-card-img {
        width: 6.5rem;
        height: 6.5rem;
    }

    ::deep .welcome-card .welcome-card-text {
        font-size: 1.75rem;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: unset;
    }

    ::deep .icon-fill {
        fill: var(--bs-primary);
    }

    ::deep .welcome-card .welcome-card-back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--bs-body-color);
        opacity: 0.05;
        border-radius: 1rem;
        z-index: -2;
    }