@page "/"
<PageTitle>Welcome</PageTitle>

<div class="welcome">

    <DxGridLayout CssClass="welcome-gridlayout" RowSpacing="3rem">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="cards"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="welcome-title">
                <Template>
                    <div class="welcome-title-header">Hello World!</div>
                    <div class="welcome-title-content">Welcome to your new DevExpress Blazor Application</div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="cards" CssClass="welcome-cards">
                <Template>
                    <NavLink class="welcome-card" href="/counter">
                        <svg class="welcome-card-img" alt="counter card">
                            <use href="images/cards.svg#counter"></use>
                        </svg>
                        <div class="welcome-card-text">Counter</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
                    <NavLink class="welcome-card" href="/weather">
                        <svg class="welcome-card-img" alt="weather card">
                            <use href="images/cards.svg#weather"></use>
                        </svg>
                        <div class="welcome-card-text">Weather</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>