@page "/datagrid"
@inject HttpClient Http

<h2>DevExpress Data Grid</h2>

<p class="pb-2 pt-2 mw-1100">
    The DevExpress Data Grid for Blazor allows you to display and manage data via a tabular (rows/columns) UI metaphor.
    This page uses our Blazor Data Grid component to display weather forecast values.
</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data="@forecasts"
                CssClass="mw-1100">
        <Columns>
            <DxDataGridDateEditColumn Caption="Date" Field="Date" />
            <DxDataGridColumn Caption="Temperature" Field="TemperatureF" />
        </Columns>
    </DxDataGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample_data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}